<div class = "container-fluid">
  <h1>Surf Spots</h1>
  <%= link_to 'Create a new surf spot', new_spot_path %>
  
  <table class='table-condensed'>
    <tr>
      <th>Title</th>
      <th>Location</th>
    </tr>

    <% @spots.each do |spot| %>
      <tr>
        <td><%= spot.title %></td>
        <td><%= spot.location %></td>
        <td><%= link_to 'View', spot_path(spot) %></td>
      </tr>
    <% end %>

  </table>
</div><br>