<h1>Spot List</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Location</th>
  </tr>

  <% @spots.each do |spot| %>
    <tr>
      <td><%= spot.title %></td>
      <td><%= spot.location %></td>
      <td><%= link_to 'Show', spot_path(spot) %></td>
    </tr>
  <% end %>
</table>
