  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-light" href="/surf_sessions">Surf Sessions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/spots">Surf Spots</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/tags">Tags</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/users">Surfers</a>
      </li>
      <li class="nav-item dropdown">
        <% if logged_in? %>
          <%= render 'layouts/nav_bar/logged_in_menu' %>
        <% else %>
          <li class="nav-item">
          <a class="nav-link" href="/login">Log In</a>
        <% end %>
      </li>
    </ul>
  </div>

