<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comments:</strong>
  <%= comment.body %>
</p>

<%= link_to 'Delete Comment', [comment.surf_session, comment],
              method: :delete,
              data: { confirm: 'Are you sure youw would like to delete this comment?' } %>

<%= link_to 'Edit Comment', edit_surf_session_comment_path(comment.surf_session, comment.id) %>