<%= form_for([@surf_session, @surf_session.comments.build]) do |f| %>
  <p>
    <strong>Name</strong><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <strong>Comment</strong><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
