<div class="container-fluid">
  <h1>Surfers</h1>

  <table class='table-condensed'>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>

  </table>

  <p>Already a user? <%= link_to "Log in here!", login_path %></p> 
</div>
