<p>
  <strong>Title:</strong>
  <%= @surf_session.date %>
  <%#= @surf_session.spot_id %>
</p>

<!-- <p>
  <strong>Location:</strong>
  <%#= @surf_session.location %>
</p> -->

<%= link_to 'View All surf sessions', surf_sessions_path %>
<%= link_to 'Edit this surf session', edit_surf_session_path %>
