<div class = "container-fluid">

<h1>Tags</h1>

<table class='table-condensed'>

  <% @tags.uniq.each do |tag| %>
    <% if tag.taggings.count > 0 %>
      <tr>
        <td><%= link_to tag.name.titleize, tag_path(tag) %> (<%= tag.taggings.count %>)</td>
      </tr>
    <% end %>
  <% end %>
</table>

<%= link_to 'View All Surf Sessions', surf_sessions_path %>

</div>
