<p>
  <strong>surfboard_brand</strong>
  <%= surfboard.surfboard_brand %>
</p>

<p>
  <strong>surfboard_length</strong>
  <%= surfboard.surfboard_length %>
</p>

<p>
  <strong>surfboard_type</strong>
  <%= surfboard.surfboard_type.titleize %>
</p>

<p>
  <strong>surfboard_rating</strong>
  <%= surfboard.surfboard_rating %>
</p>
