<p>
  0000000 0000000
</p>

<p>
  <strong>surfboard_brand</strong>
  <%= user.surfboard_brand %>
</p>

<p>
  <strong>surfboard_length</strong>
  <%= user.surfboard_length %>
</p>

<p>
  <strong>surfboard_type</strong>
  <%= user.surfboard_type %>
</p>

<p>
  <strong>surfboard_rating</strong>
  <%= user.surfboard_rating %>
</p>
