<p>
  <strong>Surfboard Brand</strong>
  <%= surfboard.surfboard_brand %>
</p>

<p>
  <strong>Length</strong>
  <%= surfboard.surfboard_length %>
</p>

<p>
  <strong>Board Type</strong>
  <%= surfboard.surfboard_type.titleize %>
</p>

<p>
  <strong>Board Rating</strong>
  <%= surfboard.surfboard_rating %>
</p>
