// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.surfboard_table {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

